# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. ggplot 
2. cater
3. plotly

| Data Science Tools |
|------|
| Jupyter Notebooks |
| Anaconda |
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes/60
print(minutes, "minutes is equivalent to: ", hours, " hours")

200 minutes is equivalent to:  3.3333333333333335  hours

## Author
Simon Aurelio Ruiz Horta